.modal {
  position: fixed;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-content{
  margin: 2% auto;
  width: 60%;
  background-color: #fefefe;
  overflow: hidden;
}