.overall {
  display: flex;
  flex-direction: row;
  background-color: #4CAF50;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
        linear-gradient(rgba(37, 42, 48, 0.6), rgba(37, 42, 48, 0.7)),
        url("../assets/foods.jpg");
}

.intro {
  padding: 20px;
  width: 50%;
  margin-right: auto;
  
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  padding: 20px;
  width: 50%;
  height: 100vh;
  margin-left: auto;
  background-color: #ffffff;
  opacity: 0.85;
}

.title {
  font-size: 70px;
  font-family: 'Satisfy', cursive;
}

.textbox {
  width: 100%;
}
.list-steps{
  list-style-position: inside;
  text-align: left;
}

.list-container{
  margin:auto;
  width: 50%;
}

/*Target for small screens Starts*/

@media (min-width: 320px) and (max-width: 720px) {
  .overall {
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: none;
  }
  .content {
    padding: 20px;
    width: auto;
    height: 100%;
  }
  .signin-textbox {
    width: 100%;
  }
}

/*Target for small screens Ends*/